html, body {
  overflow-x: hidden;
}

main {
  background-color: #f1f1f1;
}

article {
  padding: 50px 0px 50px 0px;
}

/* === Navbar === */
.navbar-light .navbar-brand {
	color: #db3022;
	font-weight: 700;
}

.col {
  padding-right: 0px;
}

.navbar {
  box-shadow: 1px 1px 1px 1px #adadad3f;
  min-height: 100%;
}

.input-group {
  width: 500px;
}

.input-group-text {
  border-radius: 200px;
}

.form-control {
  border-radius: 200px;
}

.cart {
  color: #9B9B9B;
}


/* === Buttons === */
.btn {
  font-size: 14px;
  width: 100px;
  border-radius: 200px;
}

.btn-full {
	color: #fff;
	background-color: #db3022;
	border-color: #db3022;
}

.btn-full:hover {
  background-color: #ad1b0d;
  color: #fff;
}

.btn-outline {
  border: 1px solid gray;
  color: gray;
}

.btn-outline:hover {
  border: 1px solid #db3022;
	background-color: #db3022;
	color: #fff;
}

.btn-filter {
  width: 40px;
  border-radius: 12px;
}


/* === Trending === */
.img-carousel {
	width: 455px;
  height: 175px;
	background-size: cover;
}

.img-carousel h1 {
	color: #fff;
  text-align: center;
  padding-top: 55px;
}


/* === Category === */
.box {
  position: relative;
  width: 206px;
  height: 220px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.category-img {
  margin-top: 30px;
}

.category-text {
  bottom: 5.5rem;
  color: #fff;
  position: absolute;
  left: 3rem;
  font-size: 35px;
  font-weight: 500;
}


/* === NEW ITEMS === */
.card {
  width: 208px;
  height: 278px;
  margin: 10px;
  float: left;
}

.card-body h5 {
  font-size: 16px;
}

.card-body p {
  font-size: 12px;
  margin-bottom: 0px;
}

.price-txt {
  color: #DB3022;
  margin-bottom: 0px;
}

.content {
  background-color: #ddd;
  min-height: 500px;
  overflow: auto;
}


/* ---MEDIA QUERY--- */
@media (max-width: 768px) {
  .input-group {
  width: 100%;
  }
  .cart {
  margin-left: 0px;
  }
  .btn-login,
  .btn-signup {
    display: block;
    margin: 5px 0px;
    width: 100%;
  }
}

@media (max-width: 470px) {
  .card {
    width: 100%;
    height: 100%;
  }
}